<div>
    <img ng-if="common && imageLoader['mobile']"
       ng-src="{{imageLoader['mobile']}}"
       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
       class="{{attrs.imgClass}} lazyload"
       alt="{{attrs.alt}}"/>

    <picture ng-if="!common && imageLoader['mobile']">
        <!--[if IE 9]><video style="display: none;><![endif]-->
        <source class="mobile" data-srcset="{{imageLoader['mobile']}}"
            media="--small"/>
        <source class="tablet" data-srcset="{{imageLoader['tablet']}}"
            media="--medium"/>
        <source class="desktop" data-srcset="{{imageLoader['desktop']}}"
            media="--large"/>
        <source class="desktop_big" data-srcset="{{imageLoader['desktop_big']}}"
            media="--largest"/>
        <!--[if IE 9]></video><![endif]-->

        <img
            data-sizes="auto"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            class="{{attrs.imgClass}} lazyload"
            alt="{{attrs.alt}}"/>

        <span itemscope itemtype="http://schema.org/ImageObject" ng-if="imageLoader['mobile']">
            <meta itemprop="image" content="{{imageLoader['mobile']}}"
                  ng-if="module.content.image.alternate_sizes[0].file"/>
        </span>
    </picture>

</div>

