<img ng-if=attrs.common
     ng-src={{attrs.path}}mobile/{{attrs.image}}
     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     class="{{attrs.class}} lazyload"
     alt="{{attrs.alt}}"/>

<div ng-if="!attrs.common">
  <picture>
    <!--[if IE 9]><video style="display: none;><![endif]-->
    <source
      data-srcset="{{attrs.path}}mobile/{{attrs.image}}"
      media="--small"/>
    <source
      data-srcset="{{attrs.path}}tablet/{{attrs.image}}"
      media="--medium"/>
    <source
      data-srcset="{{attrs.path}}desktop/{{attrs.image}}"
      media="--large"/>
    <source
      data-srcset="{{attrs.path}}desktop_big/{{attrs.image}}"
      media="--largest"/>
    <!--[if IE 9]></video><![endif]-->

    <img
      data-sizes="auto"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      class="{{attrs.class}} lazyload"
      alt="{{attrs.alt}}"/>
  </picture>
</div>

